@import "@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 16px;
}

.spacer {
  flex: 1 1 auto;
}
